

div.list_body
{
overflow: hidden;
border-top: thin solid black;
}

table.list_table
{
position: relative;
}

td.fencer_name
{
text-align: left;
width: 10em;
}

td.fencer_country
{
text-align: right;
width: 3em;
}
td.fencer_club
{
text-align: right;
width: 10em;
}


td.init_rank
{
text-align: right;
width: 3em;
}

td.poule_num
{
text-align: right;
width: 3em;
}

td.piste_num
{
text-align: right;
width: 3em;
}

td.seed
{
text-align: left;
width: 2.5em;
}
td.v-over-m
{
text-align: right;
width: 2em;
}
td.ind
{
text-align: right;
width: 2em;
}
td.hs
{
text-align: right;
width: 2em;
}
td.message
{
margin-right: 2em;
height: 1.3em;
}
td.messagespace
{
width: 100%;
height: 1.3em;
}
