
div.tableau
{
overflow: hidden;
position: absolute;
border: thin solid black;
height:  98%;
width: 	68%;
}

div.vert_list_container
{
overflow: hidden;
position: absolute;
border: thin solid black;
height:  98%;
right: 0px;
width: 30%;
}